.widget {

  .display-field {
    .x-form-display-field,
    .x-form-display-field-default {
      font-size: 20px;
      line-height: 1.6;
    }
  }

  .change-green {
    color: green;
    border: 1px solid grey;
    border-radius: 3px;
  }

  .change-red {
    color: red;
  }

}
